<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="LMSModel.Properties.Settings.LMSDBConnectionString"
            connectionString="Data Source=test_db_server;Initial Catalog=LMSDB;User ID=sa;Password=00000!aA;Connect Timeout=60;Encrypt=False;TrustServerCertificate=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
</configuration>